version: "3.9"

services:
  postgres:
    image: postgres:14-alpine
    container_name: gift_redemption_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gift_redemption
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: